<ngx-loading [show]="loading"></ngx-loading>
<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Creacion de formulas</h4>
          <p class="mb-0">
            Acá podrás crear tus formulas a partir de tus archivos previamente
            creados
          </p>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-xl-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Archivo</h4>
          </div>
          <div class="card-body">
            <div class="basic-form">
              <form [formGroup]="formularioCrearEtiqueta">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"
                    >Seleccione archivo ventas</label
                  >
                  <div class="col-sm-9">
                    <select
                      formControlName="itemSeleccionadoVentas"
                      class="form-control form-control-lg default-select"
                      placeholder="Selecciona obra"
                    >
                      <option
                        *ngFor="let itemVentas of listadoVentas"
                        [value]="itemVentas?._id"
                      >
                        {{ itemVentas?.Nombre }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"
                    >Seleccione archivo costos</label
                  >
                  <div class="col-sm-9">
                    <select
                      formControlName="itemSeleccionadoCostos"
                      class="form-control form-control-lg default-select"
                      placeholder="Selecciona obra"
                    >
                      <option
                        *ngFor="let itemCostos of listadoCostos"
                        [value]="itemCostos?._id"
                      >
                        {{ itemCostos?.Nombre }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-10 col text-center">
                    <button type="submit" class="btn btn-primary" (click)="buscar()">
                      Construir
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>



      <div class="container" style="border: 1px solid red">
        <div class="row">
          <div class="col-sm-3">
            <div class="card card-outline-primary mb-3">
              <div class="card-header card-inverse card-primary">Items</div>
              <div class="card-block scroll-list">
                <ul class="list-group">
                  <li
                    draggable
                    *ngFor="let item of list1"
                    [dragScope]="'drag-img'"
                    [dragData]="item"
                    class="list-group-item"
                  >
                    {{item?.codigo}}
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div
              class="card card-outline-primary mb-3"
              droppable
              [dropScope]="'drag-img'"
              (onDrop)="onDrop($event)"
            >
              <!-- <div class="card-header card-inverse card-primary">Drop here</div>
              <div class="card-block scroll-list">
                <ul class="list-group">
                  <li *ngFor="let item of list2" class="list-group-item">
                    {{item.codigo}}
                  </li>
                </ul>
              </div> -->

              <textarea [(ngModel)]="textareaTemp" name="mio" id="mio" cols="30" rows="10">{{textareaTemp}}</textarea>
            </div>
          </div>
        </div>

<button (click)="fin()">FIN</button>

      </div>
    </div>
  </div>
</div>
