<ngx-loading [show]="loading"></ngx-loading>
<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Carga de archivo</h4>
          <p class="mb-0">Acá podrás subir todos tus archivos</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Archivo</h4>
          </div>
          <div class="card-body">
            <div class="basic-form">
              <form [formGroup]="formularioArchivo">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"
                    >Nombre del archivo</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Nombre del archivo"
                      formControlName="nombre"
                      (keyup)="handle($event)"
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Seleccione obra</label>
                  <div class="col-sm-9">
                    <select
                      formControlName="obra"
                      class="form-control form-control-lg default-select"
                      placeholder="Selecciona obra"
                    >
                      <option
                        *ngFor="let obra of listadoObras"
                        [value]="obra?._id"
                      >
                        {{ obra?.Nombre }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Seleccione mes</label>
                  <div class="col-sm-9">
                    <select
                      formControlName="mes"
                      class="form-control form-control-lg default-select"
                      placeholder="Selecciona obra"
                    >
                      <option
                        *ngFor="let mes of listadoMeses"
                        [value]="mes?.id"
                      >
                        {{ mes?.mes }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Seleccione año</label>
                  <div class="col-sm-9">
                    <select
                      formControlName="ano"
                      class="form-control form-control-lg default-select"
                      placeholder="Selecciona obra"
                    >
                      <option *ngFor="let ano of listadoAnos" [value]="ano">
                        {{ ano }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"
                    >Seleccione tipo de archivo</label
                  >
                  <div class="col-sm-9">
                    <select
                      formControlName="tipoArchivo"
                      class="form-control form-control-lg default-select"
                      placeholder="Selecciona tipo archivo"
                    >
                      <option
                        *ngFor="let tipoArchivo of listadoTipoArchivo"
                        [value]="tipoArchivo?.tipo"
                      >
                        {{ tipoArchivo?.tipo }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Será plantilla </label>
                  <div class="col-sm-9">
                    <input
                      type="checkbox"
                      formControlName="esPlantilla"
                      (change)="revisarEstado($event)"
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <div class="custom-file">
                    <input
                      type="file"
                      id="file"
                      #inputFile
                      class="custom-file-input"
                      (change)="subirArchivo($event)"
                    />
                    <label class="custom-file-label">Seleccione archivo</label>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-10 col text-center">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      (click)="crearArchivo()"
                    >
                      Subir archivo
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- table -->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Tabla del archivo con información</h4>
          </div>
          <div class="card-body">
            <!-- componente externo -->
            <!-- <app-table-basic></app-table-basic> -->

            <div class="table-responsive">
              <p-treeTable [value]="files1">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Codigo</th>
                    <th>Consolidado</th>
                    <th>Nombre</th>
                    <th>Etiqueta</th>
                    <th>Eliminar</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                  <tr
                    [ttRow]="rowNode"
                    [style]="{
                      'background-color':
                        rowData?.etiqueta?.Color || 'transparent'
                    }"
                  >
                    <td>
                      <p-treeTableToggler
                        [rowNode]="rowNode"
                      ></p-treeTableToggler>
                      {{ rowData?.nombre }}
                    </td>
                    <td>{{ rowData?.codigo }}</td>
                    <td>{{ rowData?.consolidado }}</td>
                    <td>
                      <button (click)="openModalTags(contentbasic, rowData)">
                        <mat-icon
                          aria-hidden="false"
                          aria-label="Example checkcircleoutline icon"
                          >sell</mat-icon
                        >
                      </button>
                    </td>
                    <td>
                      <button (click)="confirmarEliminar(rowData)">
                        <mat-icon
                          aria-hidden="false"
                          aria-label="Example checkcircleoutline icon"
                          >delete</mat-icon
                        >
                      </button>
                    </td>
                  </tr>
                </ng-template>
              </p-treeTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal editar -->
<ng-template #contentbasic let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Seleccionar etiqueta</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body default-calendar">
    <form [formGroup]="formularioAsignarEtiqueta">
      <div class="form-group row">
        <label for="dateOfBirth">Etiqueta</label>
        <div class="col-sm-12">
          <select
            class="form-control form-control-lg default-select"
            placeholder="Selecciona etiqueta"
            formControlName="etiqueta"
          >
            <option
              *ngFor="let etiqueta of listadoEtiquetas"
              [value]="etiqueta?._id"
            >
              {{ etiqueta?.Nombre }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="guardarEtiqueta()"
    >
      Guardar
    </button>
  </div>
</ng-template>
