<ngx-loading [show]="loading"></ngx-loading>
<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Menú de obras</h4>
          <p class="mb-0">Acá podrás gestionar todas las obras</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Creación de obra</h4>
          </div>
          <div class="card-body">
            <div class="basic-form">
              <form>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Nombre</label>
                  <div class="col-sm-9">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Nombre de la obra"
                      name="nombreObra"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10 col text-center">
                    <button type="submit" class="btn btn-primary">
                      Crear obra
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
