<ngx-loading [show]="loading"></ngx-loading>

<form>
  <!-- <div class="form-group form-inline">
    Buscar una obra:
    <input
      class="form-control ml-5"
      type="text"
      name="searchTerm"
      (keyup)="buscar($event)"
    />
    <span class="ml-3">Loading...</span>
  </div> -->
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th sortable="name" scope="col">Nombre</th>
          <th sortable="name" scope="col">Color</th>
          <th scope="col" sortable="area">Activo</th>
          <th scope="col" sortable="population">Fecha creación</th>
          <th scope="col" sortable="population">Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etiqueta of listaEtiquetas; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <ngb-highlight [result]="etiqueta?.Nombre"></ngb-highlight>
          </td>
          <td>
            <div class="containercolor" [style.background]="etiqueta?.Color" ></div>
          </td>
          <td>
            <mat-icon
              aria-hidden="false"
              aria-label="Example checkcircleoutline icon"
              [ngClass]="etiqueta?.Estado ? 'active' : 'desactive'"
              >{{ etiqueta?.Estado ? "check" : "close" }}</mat-icon
            >
          </td>
          <td>
            <ngb-highlight
              [result]="etiqueta?.FechaCreacion?.toString()"
            ></ngb-highlight>
          </td>
          <td>
            <button
              class="btn-edit"
              (click)="abrirModalEditar(contentbasic, etiqueta)"
            >
              <mat-icon
                class="edit"
                aria-hidden="false"
                aria-label="Example checkcircleoutline icon"
                >edit_note</mat-icon
              >
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="d-flex flex-wrap justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="total$ | async"
      [(page)]="service.page"
      [pageSize]="service.pageSize"
    >
    </ngb-pagination>

    <select
      class="custom-select"
      style="width: auto"
      name="pageSize"
      [(ngModel)]="service.pageSize"
    >
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div> -->
</form>

<!-- Modal editar -->
<ng-template #contentbasic let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar etiqueta</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body default-calendar">
    <form [formGroup]="formularioEditarEtiqueta">
      <div class="form-group">
        <label for="dateOfBirth">Nombre</label>
        <div class="input-group">
          <input id="nombre" formControlName="nombre" class="form-control" />
        </div>
      </div>

      <div class="form-group">
        <label for="dateOfBirth">Color</label>
        <div class="input-group">
          <input
            id="color"
            formControlName="color"
            class="form-control"
            type="color"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="dateOfBirth">Fecha creación</label>
        <div class="input-group">
          <input
            id="fecha"
            formControlName="fecha"
            class="form-control"
            [readOnly]="true"
            [disabled]="true"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="dateOfBirth">Etiqueta activa</label>
        <div class="input-group">
          <mat-slide-toggle formControlName="estado"></mat-slide-toggle>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Guardar
    </button>
  </div>
</ng-template>
